[submodule "tools/clang"]
	path = tools/clang
	url = git@github.com:CSI-LLVM/clang.git
[submodule "projects/compiler-rt"]
	path = projects/compiler-rt
	url = git@github.com:CSI-LLVM/compiler-rt.git
[submodule "csi"]
	path = csi
	url = git@github.com:CSI-LLVM/csi.git
